/* Fix user-agent */

* {
	box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  box-shadow: inset 0px 1px 12px 1px #ddd;
  border-radius: 40px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: #424242;
  border-radius: 30px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222; 
}

html {
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	font-family: "Merriweather", Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100vh;
	height: 100%;
	overflow: auto;
}

ul {
	list-style: none;
	word-wrap: break-word;
}

/* Pages */

section.pages {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.page {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 90%;
  max-width: 360px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title,
.login.page .usernameInput {
  padding: 0 10px;
  color: #fff;
  font-weight: 100;
  width: 100%;
  word-wrap: break-word;
}

/* Chat page */

.chat.page {
	display: none;
	flex-direction: column;
	flex: 1;
	height: 100%;
	width: 100%;
}

/* Font */

.messages {
  font-size: 14px;
}

.inputMessage {
  font-size: 100%;
}

.log {
  background-color: #efefef;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #222;
  font-size: 18px;
  font-weight: 500;
  padding: 6px 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: max-content;
  max-width: 480px;
}

/* Messages */

.chatArea {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: flex-start;
	margin: 15px 4px 10px 15px;
	background-color: #fff;
	position: relative;
}

.messages {
  width: 100%;
  height: 100%;
  flex: 1;
  flex-direction: column;
  margin: 0;
  padding-right: 15px;
  max-height: 100%;
  display: flex;
  overflow-y: auto;
  position: absolute;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  display: block;
  font-size: 17px;
  font-weight: 700;
  overflow: hidden;
  text-align: left;
  width: 100%;
  text-transform: capitalize;
}

.message._me .username {
  text-align: right;
}

.messageBody {
  display: block;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  width: 100%;
  max-width: 320px;
  word-break: break-word;
  white-space: normal;
}

.message._me .messageBody {
  text-align: right;
}

.message {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  margin-right: auto;
  border: 1px solid #eee;
  border-radius: 12px;
  box-shadow: 0px 2px 4px -1px #eee;
  padding: 8px 15px;
  margin-bottom: 20px;
  width: max-content;
  max-width: 100%;
}

._me.message {
  align-items: flex-start;
  margin-left: auto;
  margin-right: 0;
}

/* Input */

.cntInputMessage {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	background-color: #fff;
	border: 10px solid #eee;
	border-radius: 4px;
}

.cntInputMessage .cntUsers {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  align-items: flex-start;
}

input.inputMessage {
	width: 100%;
	border: 1.5px solid #d5d5d5;
	padding: 15px;
	background-color: #e9ecef;
	display: inline-flex;
	border-radius: 0 0 4px 4px;
	color: #222;
}

input.inputMessage::placeholder {
	color: rgb(34 34 34 / 60%);
	background: transparent;
}

input.inputMessage:focus {
  border-color: #ccc;
  outline: 1px solid #ccc;
}


input.inputMessage:focus-visible {
  border-color: #ccc;
  outline: 1px solid #ccc;
}